# Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Set Globals & Functions

In [2]:
def checkData(x):
    print(f"\nInfo dos valores:\n")
    print(x.info())
    print(f"\nDescrição dos dados:\n\n{x.describe()}")
    return

def checkNaN(x):
    """This function receives a DataFrame and returns the count of NaN values for each column."""
    null_count = x.isna().sum()
    non_null_count = x.notnull().sum()
    print(f"Null values:\n {null_count}")
    print(f"Non-null values:\n {non_null_count}")
    return

def checkOutliers(x):
    """This functions receives a DataFrame and returns a DataFrame with the outliers.
    It takes as premise that the data is normally distributed."""
    dfOutliers  = pd.DataFrame()
    # Itera sobre as colunas númericas
    for column in x.select_dtypes(include=[np.number]).columns:
        # Calcula o 1 quartil (Q1)
        Q1 = x[column].quantile(0.25)
        # Calcula o 3 quartil (Q3)
        Q3 = x[column].quantile(0.75)
        # Calcula o Intervalo Interquartil (IQR)
        IQR = Q3 - Q1
        # Define os limites inferior e superior para outliers
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        # Identica os outliers da coluna atual e adiciona ao DataFrame de outliers
        outliers = x[(x[column] < lower_bound) | (x[column] > upper_bound)]
        # Concatene os outliers da coluna atual ao DataFrame de outliers
        dfOutliers = pd.concat([dfOutliers, outliers])
    outliersData = dfOutliers.drop_duplicates().reset_index(drop=True)
    return outliersData

def corr(x):
    plt.figure(figsize=(10,8))
    sns.heatmap(x.select_dtypes(include=[np.number]).corr(), annot=True)
    plt.show()
    return

def hist(x):
    """This function receives a DataFrame and returns a histogram of the data."""
    x.hist(bins=50, figsize=(25,10))
    plt.show()
    return

# Data Loading & Check

In [3]:
df_raw = pd.read_csv("train.csv")

In [4]:
checkData(df_raw)

Info dos valores:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4467 entries, 0 to 4466
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           4467 non-null   object
 1   Delivery_person_ID           4467 non-null   object
 2   Delivery_person_Age          4467 non-null   object
 3   Delivery_person_Ratings      4467 non-null   object
 4   Restaurant_latitude          4467 non-null   float64
 5   Restaurant_longitude         4467 non-null   float64
 6   Delivery_location_latitude   4467 non-null   float64
 7   Delivery_location_longitude  4467 non-null   float64
 8   Order_Date                   4467 non-null   object
 9   Time_Orderd                  4467 non-null   object
 10  Time_Order_picked            4467 non-null   object
 11  Weatherconditions            4467 non-null   object
 12  Road_traffic_density         4467 non-null   object
 13  Vehicle_condition            4467 non-null   int64
 14  Type_of_order                4467 non-null   object
 15  Type_of_vehicle              4467 non-null   object
 16  multiple_deliveries          4467 non-null   object
 17  Festival                     4467 non-null   object
 18  City                         4466 non-null   object
 19  Time_taken(min)              4466 non-null   object
dtypes: float64(4), int64(1), object(15)
memory usage: 698.1+ KB
None

Descrição dos dados:

       Restaurant_latitude  Restaurant_longitude  Delivery_location_latitude  \
count          4467.000000           4467.000000                 4467.000000
mean             16.873720             69.855186                   17.345751
std               8.320083             23.490634                    7.436276
min             -30.902872            -88.322337                    0.010000
25%              12.906229             73.170000                   12.969496
50%              18.546258             75.894377                   18.619299
75%              22.725835             78.013330                   22.781857
max              30.914057             88.433452                   31.035562

       Delivery_location_longitude  Vehicle_condition
count                  4467.000000        4467.000000
mean                     70.509414           1.022386
std                      21.655254           0.840340
min                       0.010000           0.000000
25%                      73.280937           0.000000
50%                      75.996362           1.000000
75%                      78.081576           2.000000
max                      88.563452           3.000000

In [5]:
df_raw.sample(30)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
4174,0x6354,RANCHIRES08DEL02,25,4.7,23.353783,85.326967,23.433783,85.406967,04-04-2022,23:00:00,23:10:00,conditions Sandstorms,Low,1,Buffet,scooter,0,No,Metropolitian,(min) 19
1076,0x699a,PUNERES010DEL02,29,4.7,18.539299,73.897902,18.589299,73.947902,17-03-2022,18:25:00,18:30:00,conditions Windy,Medium,2,Meal,scooter,0,No,NaN,(min) 21
3892,0x419c,RANCHIRES06DEL01,28,4.7,23.357804,85.325146,23.397804,85.365146,05-04-2022,12:40:00,12:55:00,conditions Sandstorms,High,0,Snack,motorcycle,0,No,Urban,(min) 38
2497,0x6f8e,MYSRES04DEL01,22,4.6,12.308500,76.665808,12.318500,76.675808,13-03-2022,08:40:00,08:55:00,conditions Stormy,Low,2,Snack,electric_scooter,1,No,Urban,(min) 14
2500,0x1a9e,JAPRES11DEL03,35,4.9,26.902940,75.793007,26.962940,75.853007,09-03-2022,23:35:00,23:40:00,conditions Sunny,Low,2,Drinks,scooter,1,No,Metropolitian,(min) 16
4223,0x8c98,JAPRES01DEL03,34,4.9,26.905190,75.810753,26.935190,75.840753,17-03-2022,21:50:00,22:00:00,conditions Sunny,Jam,2,Meal,electric_scooter,NaN,No,Metropolitian,(min) 15
3291,0x6532,VADRES15DEL03,29,4.6,0.000000,0.000000,0.090000,0.090000,20-03-2022,18:55:00,19:00:00,conditions Cloudy,Medium,1,Buffet,motorcycle,0,No,Urban,(min) 35
1398,0x6569,INDORES01DEL02,25,4.9,22.695207,75.866059,22.745207,75.916059,19-03-2022,23:10:00,23:25:00,conditions Stormy,Low,1,Meal,scooter,1,No,Metropolitian,(min) 19
3468,0xd41,MUMRES17DEL02,38,4.4,19.121999,72.908493,19.171999,72.958493,26-03-2022,23:20:00,23:30:00,conditions Windy,Low,0,Buffet,motorcycle,1,No,Metropolitian,(min) 24
3515,0xbe36,SURRES07DEL01,25,2.7,21.170798,72.790489,21.240798,72.860489,06-04-2022,22:15:00,22:30:00,conditions Sunny,Low,2,Drinks,motorcycle,1,No,Metropolitian,(min) 31
3571,0x4e3e,INDORES04DEL01,21,4.7,22.753659,75.903365,22.793659,75.943365,05-04-2022,15:35:00,15:50:00,conditions Windy,Medium,2,Buffet,motorcycle,1,No,Metropolitian,(min) 23
4424,0xca74,AGRRES09DEL01,30,4.5,0.000000,0.000000,0.010000,0.010000,13-02-2022,08:50:00,09:05:00,conditions Stormy,Low,1,Drinks,motorcycle,1,No,Metropolitian,(min) 26
4406,0xc735,BHPRES01DEL01,26,4.7,23.211529,77.419399,23.251529,77.459399,17-02-2022,13:10:00,13:15:00,conditions Fog,High,1,Meal,scooter,1,No,Metropolitian,(min) 24
2189,0x207d,BANGRES18DEL02,35,3.8,12.913041,77.683237,13.043041,77.813237,29-03-2022,19:25:00,19:40:00,conditions Sandstorms,Jam,1,Snack,scooter,1,No,Metropolitian,(min) 33
3941,0x8c94,PUNERES17DEL01,22,4.5,18.530963,73.828972,18.540963,73.838972,21-03-2022,12:00:00,12:15:00,conditions Stormy,High,2,Buffet,scooter,0,No,Urban,(min) 13
909,0x728a,PUNERES02DEL01,34,4.1,18.551440,73.804855,18.561440,73.814855,11-03-2022,11:10:00,11:20:00,conditions Cloudy,High,1,Buffet,scooter,0,No,Metropolitian,(min) 35
3979,0x3f9f,RANCHIRES01DEL01,34,4.5,23.416792,85.316842,23.526792,85.426842,29-03-2022,23:10:00,23:20:00,conditions Fog,Low,2,Meal,electric_scooter,1,No,Metropolitian,(min) 38
725,0x96c3,PUNERES15DEL01,23,4.9,18.636215,73.751081,18.706215,73.821081,10-03-2022,18:25:00,18:30:00,conditions Cloudy,Medium,2,Snack,motorcycle,2,No,Metropolitian,(min) 36
2147,0x54d6,JAPRES010DEL01,35,4,26.921411,75.793604,26.961411,75.833604,09-03-2022,12:40:00,12:50:00,conditions Cloudy,High,1,Drinks,motorcycle,1,No,Metropolitian,(min) 37
277,0x4fb8,VADRES09DEL01,35,5,0.000000,0.000000,0.070000,0.070000,27-03-2022,17:25:00,17:35:00,conditions Fog,Medium,0,Snack,motorcycle,1,No,Metropolitian,(min) 37
728,0x92dd,BANGRES09DEL01,34,4.7,12.934179,77.615797,12.974179,77.655797,28-03-2022,12:45:00,13:00:00,conditions Fog,High,0,Buffet,motorcycle,1,No,Urban,(min) 26
1250,0x2a1b,CHENRES06DEL03,26,4.8,13.054347,80.257221,13.084347,80.287221,26-03-2022,19:10:00,19:20:00,conditions Fog,Jam,1,Meal,motorcycle,1,No,Metropolitian,(min) 26
2629,0xb0aa,COIMBRES11DEL02,27,4.6,11.001753,76.986241,11.131753,77.116241,31-03-2022,17:10:00,17:15:00,conditions Windy,Medium,2,Drinks,scooter,1,No,Metropolitian,(min) 23
1635,0x428c,INDORES19DEL01,28,4.6,22.745536,75.893106,22.785536,75.933106,13-03-2022,16:20:00,16:25:00,conditions Cloudy,Medium,1,Snack,motorcycle,0,No,Metropolitian,(min) 10
1673,0x35d0,SURRES02DEL01,28,4.9,21.186608,72.794136,21.196608,72.804136,03-03-2022,08:50:00,08:55:00,conditions Sandstorms,Low,1,Buffet,motorcycle,1,No,Metropolitian,(min) 15
4041,0x4d60,MUMRES18DEL02,31,4.4,19.109300,72.825451,19.159300,72.875451,26-03-2022,22:35:00,22:45:00,conditions Sandstorms,Low,0,Snack,motorcycle,1,No,Metropolitian,(min) 24
831,0x536c,BANGRES14DEL02,38,5,12.949934,77.699386,12.969934,77.719386,19-03-2022,12:00:00,12:05:00,conditions Cloudy,High,0,Snack,motorcycle,0,No,Metropolitian,(min) 25
266,0xd92f,AGRRES03DEL01,35,4.9,27.160832,78.011608,27.230832,78.081608,18-02-2022,21:15:00,21:30:00,conditions Cloudy,Jam,0,Buffet,motorcycle,2,No,Metropolitian,(min) 53
803,0x8dcd,CHENRES05DEL02,34,4.5,13.058616,80.264151,13.108616,80.314151,30-03-2022,20:40:00,20:50:00,conditions Windy,Jam,2,Snack,motorcycle,0,No,Metropolitian,(min) 26
328,0xc4b3,AURGRES12DEL02,39,4.9,19.879631,75.323403,19.899631,75.343403,17-02-2022,11:10:00,11:15:00,conditions Fog,High,0,Drinks,motorcycle,1,No,Metropolitian,(min) 25

# Clear & Transform

Clearly some columns have NaN values, but they are not appearing on the NaNs check. It can be because they are object types or are stored as string and have some weird formatting like " NaN", with a blank space.<br>First step will be to remove all spaces from string columns, then convert them to the appropiate type and fill with the most appropriate value.

## Strip spaces, fix typos and types

In [6]:
df_clear = df_raw.copy()
# Remove blank spaces from strings.
df_clear = df_clear.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
# Convert to numeric types where needed.
df_clear["Delivery_person_Age"] = df_clear["Delivery_person_Age"].apply(pd.to_numeric, errors="coerce").astype("Int64")
df_clear["Delivery_person_Ratings"] = df_clear["Delivery_person_Ratings"].apply(pd.to_numeric, errors="coerce")
df_clear["multiple_deliveries"] = df_clear["multiple_deliveries"].apply(pd.to_numeric, errors="coerce").astype("Int64")
# Fix typo on column name
df_clear.rename(columns={'Time_Orderd': 'Time_Ordered'}, inplace=True)
# Convert dates and times from object to date.time
df_clear["Order_Date"] = pd.to_datetime(df_clear["Order_Date"], format="%d-%m-%Y")
df_clear["Time_Ordered"] = pd.to_datetime(df_clear["Time_Ordered"], format="%H:%M:%S")
df_clear["Time_Order_picked"] = pd.to_datetime(df_clear["Time_Order_picked"], format="%H:%M:%S")
# Remove letters from the Column "Time_taken(min)" and change it to Int64
df_clear["Time_taken(min)"] = df_clear["Time_taken(min)"].str.extract(r'(\d+)').astype("Int64")

## Filling NaNs

In [7]:
checkData(df_clear)

Info dos valores:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4467 entries, 0 to 4466
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           4467 non-null   object
 1   Delivery_person_ID           4467 non-null   object
 2   Delivery_person_Age          4278 non-null   Int64
 3   Delivery_person_Ratings      4272 non-null   float64
 4   Restaurant_latitude          4467 non-null   float64
 5   Restaurant_longitude         4467 non-null   float64
 6   Delivery_location_latitude   4467 non-null   float64
 7   Delivery_location_longitude  4467 non-null   float64
 8   Order_Date                   4467 non-null   datetime64[ns]
 9   Time_Ordered                 4288 non-null   datetime64[ns]
 10  Time_Order_picked            4467 non-null   datetime64[ns]
 11  Weatherconditions            4467 non-null   object
 12  Road_traffic_density         4467 non-null   object
 13  Vehicle_condition            4467 non-null   int64
 14  Type_of_order                4467 non-null   object
 15  Type_of_vehicle              4467 non-null   object
 16  multiple_deliveries          4363 non-null   Int64
 17  Festival                     4467 non-null   object
 18  City                         4466 non-null   object
 19  Time_taken(min)              4466 non-null   Int64
dtypes: Int64(3), datetime64[ns](3), float64(5), int64(1), object(8)
memory usage: 711.2+ KB
None

Descrição dos dados:

       Delivery_person_Age  Delivery_person_Ratings  Restaurant_latitude  \
count               4278.0              4272.000000          4467.000000
mean             29.450444                 4.630595            16.873720
min                   15.0                 1.000000           -30.902872
25%                   25.0                 4.500000            12.906229
50%                   29.0                 4.700000            18.546258
75%                   34.0                 4.800000            22.725835
max                   50.0                 6.000000            30.914057
std               5.788393                 0.331232             8.320083

       Restaurant_longitude  Delivery_location_latitude  \
count           4467.000000                 4467.000000
mean              69.855186                   17.345751
min              -88.322337                    0.010000
25%               73.170000                   12.969496
50%               75.894377                   18.619299
75%               78.013330                   22.781857
max               88.433452                   31.035562
std               23.490634                    7.436276

       Delivery_location_longitude                     Order_Date  \
count                  4467.000000                           4467
mean                     70.509414  2022-03-13 19:14:23.129617152
min                       0.010000            2022-02-11 00:00:00
25%                      73.280937            2022-03-05 00:00:00
50%                      75.996362            2022-03-15 00:00:00
75%                      78.081576            2022-03-27 00:00:00
max                      88.563452            2022-04-06 00:00:00
std                      21.655254                            NaN

                        Time_Ordered              Time_Order_picked  \
count                           4288                           4467
mean   1900-01-01 17:58:30.167910400  1900-01-01 17:41:36.440564224
min              1900-01-01 00:00:00            1900-01-01 00:00:00
25%              1900-01-01 15:30:00            1900-01-01 14:45:00
50%              1900-01-01 19:15:00            1900-01-01 19:10:00
75%              1900-01-01 21:40:00            1900-01-01 21:40:00
max              1900-01-01 23:55:00            1900-01-01 23:55:00
std                              NaN                            NaN

       Vehicle_condition  multiple_deliveries  Time_taken(min)
count        4467.000000               4363.0           4466.0
mean            1.022386             0.759569        26.240036
min             0.000000                  0.0             10.0
25%             0.000000                  0.0             19.0
50%             1.000000                  1.0             25.0
75%             2.000000                  1.0             32.0
max             3.000000                  3.0             54.0
std             0.840340             0.588906         9.382272

# Feature Enginnereering

To better work with time, "Order_date" will be merged with "Time_Ordered" and "Time_Order_picked", then transformed in a timestamp. For the same reason "Time_taken(min)" will be converted to a timestamp based on "Time_Order_picked" + "Time_taken(min)".

In [8]:
df_work = df_clear.copy()

In [9]:
# .dt.strftime('%d/%m/%Y')

In [10]:
checkNaN(df_clear)

Null values:
 ID                               0
Delivery_person_ID               0
Delivery_person_Age            189
Delivery_person_Ratings        195
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Order_Date                       0
Time_Ordered                   179
Time_Order_picked                0
Weatherconditions                0
Road_traffic_density             0
Vehicle_condition                0
Type_of_order                    0
Type_of_vehicle                  0
multiple_deliveries            104
Festival                         0
City                             1
Time_taken(min)                  1
dtype: int64
Non-null values:
 ID                             4467
Delivery_person_ID             4467
Delivery_person_Age            4278
Delivery_person_Ratings        4272
Restaurant_latitude            4467
Restaurant_longitude           4467
Delivery_location_latitude     4467
Delivery_location_longitude    4467
Order_Date                     4467
Time_Ordered                   4288
Time_Order_picked              4467
Weatherconditions              4467
Road_traffic_density           4467
Vehicle_condition              4467
Type_of_order                  4467
Type_of_vehicle                4467
multiple_deliveries            4363
Festival                       4467
City                           4466
Time_taken(min)                4466
dtype: int64

In [11]:
df_clear.tail(5)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Ordered,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
4462,0x2226,SURRES16DEL03,34,4.8,21.160437,72.774209,21.220437,72.834209,2022-04-01,1900-01-01 17:25:00,1900-01-01 17:30:00,conditions Cloudy,Medium,1,Meal,motorcycle,1,No,Metropolitian,17
4463,0xdf39,BHPRES04DEL02,37,4.8,23.184992,77.417227,23.264992,77.497227,2022-02-16,1900-01-01 22:30:00,1900-01-01 22:40:00,conditions Sandstorms,Low,2,Meal,electric_scooter,1,No,Urban,26
4464,0xd0c7,KOLRES11DEL01,<NA>,NaN,22.577821,88.400581,22.617821,88.440581,2022-02-15,NaT,1900-01-01 15:30:00,conditions Fog,Medium,2,Drinks,motorcycle,1,No,Metropolitian,18
4465,0x363d,INDORES13DEL03,34,4.6,22.745049,75.892471,22.835049,75.982471,2022-03-23,1900-01-01 22:00:00,1900-01-01 22:15:00,conditions Sunny,Jam,1,Drinks,motorcycle,1,No,Urban,22
4466,0xdfc5,KNPRES03DEL03,33,4.4,26.469003,80.316344,26.529003,80.376344,2022-02-17,1900-01-01 20:40:00,1900-01-01 20:55:00,conditions Sandstorms,Jam,0,Snack,motorcycle,1,No,NaN,<NA>

In [12]:
df_raw.tail(5)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
4462,0x2226,SURRES16DEL03,34,4.8,21.160437,72.774209,21.220437,72.834209,01-04-2022,17:25:00,17:30:00,conditions Cloudy,Medium,1,Meal,motorcycle,1,No,Metropolitian,(min) 17
4463,0xdf39,BHPRES04DEL02,37,4.8,23.184992,77.417227,23.264992,77.497227,16-02-2022,22:30:00,22:40:00,conditions Sandstorms,Low,2,Meal,electric_scooter,1,No,Urban,(min) 26
4464,0xd0c7,KOLRES11DEL01,NaN,NaN,22.577821,88.400581,22.617821,88.440581,15-02-2022,NaN,15:30:00,conditions Fog,Medium,2,Drinks,motorcycle,1,No,Metropolitian,(min) 18
4465,0x363d,INDORES13DEL03,34,4.6,22.745049,75.892471,22.835049,75.982471,23-03-2022,22:00:00,22:15:00,conditions Sunny,Jam,1,Drinks,motorcycle,1,No,Urban,(min) 22
4466,0xdfc5,KNPRES03DEL03,33,4.4,26.469003,80.316344,26.529003,80.376344,17-02-2022,20:40:00,20:55:00,conditions Sandstorms,Jam,0,Snack,motorcycle,1,No,NaN,NaN